{% extends 'core/base.html' %}

{% block title %}  {% endblock title %}

{% block content %}
<form action="{% url 'edittodo' id=todo.id%}" method = "POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name = "title" value = "{{todo.title}}">
    </div>
    
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name = "description" value = "{{todo.description}}">
      </div>
  

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
 {% endblock content %}